<form id="form1" enctype="multipart/form-data" method="post" action="/upload">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" name="fileToUpload" id="fileToUpload"/>
        <input type="submit" value="Upload file" />
</form>